/*
	Reference Styling for the HTML to CSS Converter
*/
/* line 7, ../../src/scss/useful-htmltocss.scss */
form.htmltocss fieldset {
  margin: 0;
  padding: 0;
}
/* line 11, ../../src/scss/useful-htmltocss.scss */
form.htmltocss fieldset label textarea {
  display: block;
  height: 15em;
  margin: 5px 0 5px 0;
  width: 100%;
}
/* line 18, ../../src/scss/useful-htmltocss.scss */
form.htmltocss fieldset fieldset {
  margin-bottom: 5px;
}
/* line 20, ../../src/scss/useful-htmltocss.scss */
form.htmltocss fieldset fieldset label {
  display: block;
}
/* line 24, ../../src/scss/useful-htmltocss.scss */
form.htmltocss fieldset footer {
  text-align: right;
}
/* line 26, ../../src/scss/useful-htmltocss.scss */
form.htmltocss fieldset footer button {
  margin: 5px 0 5px 0;
}
