/*
	Reference Styling for the HTML to CSS Converter
*/
@media all {
  /* line 8, ../../src/scss/useful-htmltocss.scss */
  form.htmltocss fieldset {
    margin: 0;
    padding: 0;
  }
  /* line 12, ../../src/scss/useful-htmltocss.scss */
  form.htmltocss fieldset label textarea {
    display: block;
    height: 15em;
    margin: 5px 0 5px 0;
    width: 100%;
  }
  /* line 19, ../../src/scss/useful-htmltocss.scss */
  form.htmltocss fieldset fieldset {
    margin-bottom: 5px;
  }
  /* line 21, ../../src/scss/useful-htmltocss.scss */
  form.htmltocss fieldset fieldset label {
    display: block;
  }
  /* line 25, ../../src/scss/useful-htmltocss.scss */
  form.htmltocss fieldset footer {
    text-align: right;
  }
  /* line 27, ../../src/scss/useful-htmltocss.scss */
  form.htmltocss fieldset footer button {
    margin: 5px 0 5px 0;
  }
}
