.html2scss {
	label {
		textarea {
			display: block;
			height: 15em;
			margin: 5px 0;
			width: 100%;
		}
	}

	fieldset {
		border: none;
		margin: 2rem 0;
		padding: 0;

		label {
			display: block;

			input[type=text] {
				display: block;
				width: 100%;
			}
		}
	}

	footer {
		text-align: right;

		button {
			margin: 5px 0;
		}
	}
}
