@import "compass/css3";
@import "compass/utilities";
/*
	Reference Styling for the HTML to CSS Converter
*/
form.htmltocss {
	fieldset {
		margin : 0;
		padding : 0;
		label {
			textarea {
				display : block;
				height : 15em;
				margin : 5px 0 5px 0;
				width : 100%;
			}
		}
		fieldset {
			margin-bottom : 5px;
			label {
				display : block;
			}
		}
		footer {
			text-align : right;
			button {
				margin : 5px 0 5px 0;
			}
		}
	}
}
